.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .product {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  
  .product div {
    padding: 10px;
  }
  
  .product h3 {
    margin-top: 0;
  }
  
  @media (max-width: 768px) {
    .product {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .product {
      width: 100%;
    }
  }
  .pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .pagination-container button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
  }
  
  .pagination-container button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  .pagination-container button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  